{% extends 'base.html' %}

{% block title %}
  <title>Edit -Task</title>
{% endblock title %}

{% block content %}
</br>
    <div class = 'container'>
      {% if task_obj.manage == request.user %}
        <form method = 'POST' class="d-flex align-items-center">
          {% csrf_token %}
          <label  class="col-lg-1"></label>
          <input type="text" class="form-control form-control-sm " name='task' placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
          <input type="hidden" name='done' value="{{ task_obj.done }}">
          <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
        </form> 
      {% else %}
        <h3>You are not permission to access</h3>
      {% endif %}
    </div>
{% endblock content %}
 